﻿<div class="container" ng-controller="PreviousController">
    <h1>Previous Days</h1>
    <div style="overflow: auto; max-height: 500px">
        <div ng-repeat="day in workdays">
            <div>
                <div class="form-inline">
                    <div class="form-group col-lg-8">
                        <label for="Task">Task</label>
                        <input type="text" class="form-control" ng-model="day.name" id="Task" />
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="Hours">Hours</label>
                        <input type="text" class="form-control" ng-model="day.hours" id="Hours" />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group col-lg-3">
                        <button class="btn">Current</button>
                    </div>
                    <div class="form-group col-lg-3">
                        <button class="btn">Latest</button>
                    </div>
                    <div class="form-group col-lg-3">
                        <button class="btn">Update to Current</button>
                    </div>
                    <div class="form-group col-lg-3">
                        <button class="btn">Remove</button>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group col-lg-6">
                        <label for="Begin">Begin</label>
                        <input type="text" class="form-control" ng-model="day.begin" id="Begin" />
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="End">End</label>
                        <input type="text" class="form-control" ng-model="day.end" id="End" />
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label for="Notes" class="col-lg-2">Notes</label>
                        <textarea id="Notes" ng-model="day.notes" class="form-control col-lg-10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>