﻿<div>
    <div class="form-inline">
        <div class="form-group col-lg-8">
            <label for="Task">Task</label>
            <input type="text" class="form-control" ng-model="task" id="Task" />
        </div>
        <div class="form-group col-lg-4">
            <label for="Hours">Hours</label>
            <input type="text" class="form-control" ng-model="hours" id="Hours" />
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group col-lg-3">
            <button class="btn">Current</button>
        </div>
        <div class="form-group col-lg-3">
            <button class="btn">Latest</button>
        </div>
        <div class="form-group col-lg-3">
            <button class="btn">Update to Current</button>
        </div>
        <div class="form-group col-lg-3">
            <button class="btn">Remove</button>
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group col-lg-6">
            <label for="Begin">Begin</label>
            <input type="text" class="form-control" ng-model="begin" id="Begin" />
        </div>
        <div class="form-control col-lg-6">
            <label for="End">End</label>
            <input type="text" class="form-control" ng-model="end" id="End" />
        </div>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <label for="Notes">Notes</label>
            <textarea id="Notes" ng-model="notes" class="form-control"></textarea>
        </div>
    </div>
</div>